# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
DerivedData/
build/
*.ipa

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Plugin
plugin/node_modules/
plugin/dist/

# Env
.env
*.env.local
storybook/package-lock.json
